.logo{
    width: 70px;
    margin-top: -5px;
}
button:hover{
    display: block;
    border-radius: 50%;
    background-color: rgba(214, 213, 213, 0.918);
}
.sidebar{
    gap: 5px;
}
.home{
    width: 30px;
    margin-left: 5px;
}
.explore{
    width: 30px;
    margin-left: 20px;
}
.bell{
    margin-top: -10px;
    width: 30px;
}
.message{
    width: 30px;
}
.profile{
    width: 40px;
}
.more{
    width: 30px;
}
.tweet{
    width: 60px;
}
.v1{
    border-right: 1px solid gainsboro;
    height: 600px;
}
.topTweets{
    width: 30px;
    height: 30px;
    margin-left: 300px;
    margin-top: 15px;
}
.Home{
    background-color: white;
}
.profPicture{
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}
.whatsHappening{
    margin-top: 10px;
    margin-left: 5px;
}
.form{
    width: 300px;
    height: 50px;
    font-family: Helvetica, sans-serif;
    font-size: larger;
}
.reply{
    font-size:small;
    font-weight: bold;
    color: rgb(0, 183, 255);
    margin-top: 2px;
    margin-left: 5px;
}
.globe{
    width: 20px;
    margin-left: 30px;
}
.content{
    margin-left: 20px;
    font-family: inherit;
}
.retweet{
    width: 20px;
    height: 20px;
    margin-top: 2px;
}
.profileT{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.name{
    font-size:0.95rem; 
    font-weight:600;
}
.username{
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: normal;
    color: rgb(83, 100, 113);
}
.writeup{
    font-family: Helvetica, sans-serif;
    color: rgb(57, 64, 71);
    font-size: 0.95rem;
    padding-right: 50px;
}
.thread{
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
    margin-top: 20px;
}
.active{
    width: 25px;
    height: 23px;
}
.card-header{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
}
.news{
    padding-top: 10px;
}
.newstext{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.info{
    margin-left:150px;
    color: gray;
}
.fButton{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background: rgb(17, 17, 17);
}
.fName{
    font-family: inherit;
    font-weight: bolder;
    margin-top: 5px;
}