.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
body {
    overflow-x: hidden;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 25px;
}
.dark-mode {
    filter: invert(1) hue-rotate(180deg);
    background: rgb(26, 38, 51);
}
.invert{
    filter: invert(1) hue-rotate(180deg);
    background: rgb(26, 38, 51);
}
.logo{
    width: 70px;
    margin-top: -5px;
}

.comment:hover{
    display: block;
    border-radius: 50%;
    background-color: rgba(108, 176, 253, 0.562);
}
.re:hover{
    display: block;
    border-radius: 50%;
    background-color: rgba(92, 243, 124, 0.562);
}
.like:hover{
    display: block;
    border-radius: 50%;
    background-color: rgba(204, 70, 137, 0.562);
}
.share:hover{
    display: block;
    border-radius: 50%;
    background-color: rgba(92, 163, 243, 0.562);
}
.tinyButtons:hover{
    display: block;
    border-radius: 50%;
    background-color: rgba(134, 187, 248, 0.562);
}
.sidebar{
    display: block;
    margin-left: -36px;
    gap: 5px;
}
.card{
    left: -20px;
    width: 100%;
}
.home{
    width: 30px;
    margin-left: 5px;
}
.bell{
    margin-top: -10px;
    width: 30px;
}
.message{
    width: 30px;
}
.profile{
    width: 40px;
}
.more{
    width: 30px;
}
.tweet{
    width: 50px;
}
.search{
    width: 30px;
}
.bottomBar{
    display: none;
    position: absolute;
    padding-top: 10px;
    height: 50px;
    justify-content: space-between;
}
.topTweets{
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: 15px;
}
.Home{
    position: fixed;
    top: 0;
    background-color: white;
    border: 1px solid rgb(236, 235, 235)
}
.profPicture{
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}
.whatsHappening{
    margin-top: 10px;
    margin-left: 5px;
}
.form{
    width: 300px;
    height: 50px;
    font-family: Helvetica, sans-serif;
    font-size: larger;
}
.globe{
    width: 20px;
    margin-left: 30px;
}
.insidecard{
    width: 80%;
    margin-right: 30px;
}
.content{
    margin-left: 20px;
    font-family: inherit;
}
.retweet{
    width: 20px;
    height: 20px;
    margin-top: 2px;
}
.profileT{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.name{
    font-size:0.95rem; 
    font-weight:600;
}
.username{
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: normal;
    color: rgb(83, 100, 113);
}
.writeup{
    font-family: Helvetica, sans-serif;
    color: rgb(57, 64, 71);
    font-size: 0.95rem;   
}
.v1{
    display: block;
    border: 1px solid rgb(236, 235, 235);
    border-right: none;
    width: 0;
    height: 100%;
}
.thread{
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
    margin-top: 20px;
}
.active{
    width: 25px;
    height: 23px;
}
.card-header{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
}
.news{
    padding-top: 10px;
}
.newstext{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.info{
    margin-left:150px;
    color: gray;
}
.fButton{
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background: rgb(17, 17, 17);
}
.fName{
    font-family: inherit;
    font-weight: bolder;
    margin-top: 5px;
} 
@media all and (max-width: 767px) {
    .bottomBar{
        display: flex;
        position: fixed;
        overflow: hidden;
        z-index: 1;
        opacity: 0.8;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: white;
        margin-left: -20px;
        justify-content:space-around;
    }
    .v1{
        display: none;
    }
}
@media all and (max-width: 420px) {
    .sidebar{
        display: none;
    }
    .username{
        display: none;
    }
    .tinyButtons{
        display: none;
    }
}